.details {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
}

.name {
  text-transform: capitalize;
}

.email {
  color: darkgray;
  font-size: 14px;
  margin: auto;
  margin-top: -15px;
}

.id {
  color: darkgray;
  font-size: 14px;
  margin: auto;
}

.tabsContainer {
  border: 1px solid gray;
}
